.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 30px;
  background-color: #292d39;
}

.loged-in-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loged-in-nav .btn {
  margin: 0 10px;
  border-radius: 60px;
  background-color: #39b6ff;
}
