.dashboard {
  min-height: 100vh;
  background-color: #181c28;
  color: #7882a2;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dashboard-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 2fr;
  grid-gap: 10px;
  grid-template-areas:
    "task task . ."
    "task task . .";
  padding: 20px;
}
